img {
    height: 64px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.setting {
    margin: 13px;
    cursor: pointer;
}
.logout {
    cursor: pointer; 
}